/* Write your CSS here */
.light-about-container {
  min-height: 100vh;
}

.dark-about-container {
  background-color: #000000;
  min-height: 100vh;
}

.about-image {
  width: 120px;
  height: 110px;
}

.about-logo-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-about-heading {
  color: #000000;
  font-family: 'Roboto';
  font-weight: 600;
}

.dark-about-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 600;
}
